# Node modules (if using Node.js)
node_modules/

# Build directories (if using a build tool)
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
bower_components/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Optional REPL history
.node_repl_history

# dotenv environment variables file
.env
.env.local
.env.*.local

# Temporary files
tmp/
temp/

# MacOS specific
.DS_Store

# Windows specific
Thumbs.db
ehthumbs.db

# Linux specific
*.swp

# IDEs and editors
.idea/
*.sublime-project
*.sublime-workspace

# Compiled JavaScript files (if using TypeScript or CoffeeScript)
*.tsbuildinfo
*.js.map
*.ts.map

# Build artifacts (if using Gulp or Grunt)
.jshintrc
.jscsrc
.jshintignore
.gulp/
.grunt/


.astro/