/************* GLOBAL ***************************/

:root {

    --negro: #0f0f0f;
    --naranja: #e9820d;
    --naranja-claro: #f5b770;
    --blanco: #fefefa;
    --marron-boton: #471E00;
    --marron-background-oscuro: #160A01;
    --marron: #925021;
    --marron-claro: #755435;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    font-synthesis: none;
    text-rendering: optimizeLegibility;


}


body {

    /* background-image: url(backgrounds/background-new.jpg); */
    background-repeat: no-repeat;
    text-align: justify;
    overflow-x: hidden;

}

a {

    text-decoration: none;
}

h2 {

    font-weight: 700 !important;

}

#sticky-button-container .material-symbols-outlined {


    color: var(--blanco);
    background-color: var(--naranja);
    font-size: 2rem;
    height: auto;

    border: 1px solid var(--blanco);

    border-radius: 50%;
    border-color: var(--blanco);
    border-width: 2px;
    visibility: hidden;

}

#sticky-button-container {

    opacity: 1;


    position: fixed;
    right: 3rem;
    bottom: 5rem;
    border: none;
    height: 25px;
    width: 25px;

}

#sticky-button-container i {

    padding: 25%;
}

.scroll {
    visibility: visible !important;
    z-index: 1000;
    opacity: 0.7;
}

.hover {
    --s: 0.1em;
    /* the thickness of the line */
    --c: var(--naranja);
    /* the color */

    color: #0000;
    /* padding-bottom: var(--s); */
    background:
        linear-gradient(90deg, var(--c) 50%, #000 0) calc(100% - var(--_p, 0%))/200% 100%,
        linear-gradient(var(--c) 0 0) 0% 100%/var(--_p, 0%) var(--s) no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 0.5s;
}

.hover:hover {
    --_p: 100%
}

/************* HEADER ***************************/

#header {

    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;

}

#header img {

    width: 100%;
    /* background-position: center;
    background-repeat: no-repeat; */
    /*  background-size: cover; */
    object-fit: inherit;
    /*     height: 200px;
    object-fit: contain; */

}


/************* NAVBAR ***************************/



.navbar-brand {

    max-width: 50%;
    margin-right: 10px;
    font-weight: 700;

}

.img_nav {

    width: 60px;
    height: 60px;

}

.navbar .container-fluid {

    padding-left: 0;
}

.nav-link {

    padding: 0px !important;
    /* padding-left: 20px !important;
    padding-right: 20px !important; */
    font-weight: 600;
}

.nav-item {

    margin-left: 4%;
    margin-right: 4%;
}


.contenedor-imagen img {

    width: 55vh !important;

}

.navbar {

    margin-bottom: 0;
}

.container-arrow {

    display: none;
}


#home {

    display: flex;
    flex-direction: column-reverse;
    background-color: #0f0f0f;


}

.contenedor-imagen {

    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: -3%;

}

#contenedor-nav {

    display: flex;
    flex-direction: row;
    margin: 0px;
}

#contenedor-nav a {

    font-size: 1.25rem;
}

/************* HOME ***************************/

/* Desktop */


#container-home {

    display: flex;
    flex: 1;
    flex-direction: row;
    /*     padding: 5% 0% 5% 5%;
 */
    background-image: url(assets/imgs/backgrounds/orange-waves-duller.webp);
    align-items: center;
    border-bottom: 1.5rem solid var(--marron-boton);
    flex-grow: 1;
}

#container-img-home {

    display: flex;
    justify-content: center;
    align-items: center;
}

#container-bienvenido {

    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 12px;
    height: auto;
    padding: 3%;

}

#container-bienvenido img {

    width: 40%;
    margin: 0%;
    padding: 0% 2% 2% 2%;
}

#container-bienvenido-main {

    width: 40%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    margin-left: 3%;
    padding-right: 0px;




}

#container-bienvenido-main h1 {


    font-size: 2rem;
    font-weight: 800;
    color: var(--marron);
    font-style: normal;
    font-weight: 800;
    line-height: 48px;

    color: #471E00;

    mix-blend-mode: hard-light;


}

#container-bienvenido-main h3 {


    font-size: 1.2rem;
    font-weight: 800;
    color: var(--marron-claro);
    font-style: normal;
    font-weight: 800;

    color: #342415;

    mix-blend-mode: hard-light;


}

#container-right-home {

    margin: 3%;
}



#home-glasses {

    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#container-bienvenido-main a {

    border-radius: 14px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    margin-bottom: 5%;

    background-color: var(--marron-boton);

    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;

    background: #471E00;
    border-radius: 14px;
    border-color: #471E00;
    width: 50%;
    height: 30%;

}

#container-bienvenido-main a:hover {

    transform: scale(1.04);    

}


#container-bienvenido-main a:hover {

    background-color: var(--marron-claro);
    border-color: white;

}


#container-img-bienvenido img {

    /* width: 30%; */
    width: 90%;
}

#container-img-bienvenido {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0% 0% 0% 1%;
    margin-left: 0px;

}

#container-links {

    background: #342415;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 50%;
    margin-top: 4%;
    display: flex;
    flex-flow: row;
    margin: 0px;
    margin-right: 2.4rem;
    margin-top: -1rem;
    padding-left: 0px;
    padding-right: 0px;





}

#container-links a {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 0% 3% 0%;



}

#container-links a:hover {

    background-color: var(--marron-claro);
    border-color: white;




}

#container-links a {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 0% 3% 0%;


}



#container-links img {

    width: 30%;
    margin: 0px;
    /* margin-right: auto;
    margin-left: auto; */

}

.container-home {

    display: flex;
    flex-direction: column;
    align-items: end;
    margin-left: 2%;
    padding-bottom: 5%;

}


/* Mobile */

.banner-mobile {


    display: none;
    /* background-image: url(imgs/mayor_optica_frente_naranja.png); */
    position: relative;


}

.overlay {

    position: absolute;
    background: rgba(57, 57, 57, 0.5);

    /* center overlay text */
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay_2 {

    inset: 0;
}

#overlay-items {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.30);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    border: 1px solid rgba(255, 255, 255, 0.42);
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 0;
    padding-right: 0;

    backdrop-filter: blur(0.75px);
    -webkit-backdrop-filter: blur(0.75px);

    z-index: 2;
}

#overlay-items h1 {

    /*  color: var(--blanco); */
    color: white;
    text-shadow: 0px 0px 3px var(--negro), 0px 0px 3px var(--negro), 0px 0px 3px var(--naranja),
        0px 0px 20px #b393d3;
    text-align: center;
    z-index: 2;
    font-weight: 700;
}

#overlay-buttons {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#overlay-buttons a {

    margin-right: 1%;
    margin-top: 2%;
    border-radius: 10px;
    width: 35%;

}

#start-button {

    background-color: var(--naranja);
    border-color: var(--naranja);

    font-weight: 700;
    border-radius: 1px;
    transition: all 0.2s ease-in-out;
    border-color: #fefefa;


    /* text-decoration: none;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
    0px 0px 20px #b393d3; */

}

#start-button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

#contact-button {

    opacity: 1;
    border-radius: 0.25px;
    border-color: #7d7d7d;

}


.banner-mobile img {

    margin-top: 2%;
    width: 100svw;

}

.banner-mobile:before {

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));
    z-index: 1;
}


/************* CONÓCENOS ***************************/

.conocenos {

    padding: 100px;
    background-color: var(--negro);
    min-width: 100%;

}


.conocenos .row {

    padding-bottom: 100px;
}


.conocenos .how-img {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.conocenos h2 {

    text-align: center;
    padding-bottom: 10%;
    color: var(--naranja);
    /* font-size: 60px; */


}


.contenedor-texto {

    margin-top: 2%;
    text-align: justify;
}



.contenedor-texto h4 {

    color: #ed830a;
}

.contenedor-texto .principal {

    font-size: calc(2.5rem + .3vw);
    font-weight: 600 !important;


}

.contenedor-texto .subheading {


    color: var(--blanco);
    font-weight: 550 !important;

}

.contenedor-texto .text-muted {

    color: var(--blanco) !important;
    font-size: 1.20rem;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}


#servicios {

    display: flex;
    flex-flow: row;
    padding: 0px;
    text-align: start;
}

.servicios-container {

    display: flex;
    flex-flow: column;
    padding-top: 4% !important;
    margin-right: 2%;

}


#servicios-right {

    display: flex;
    flex-flow: column;
    padding: 0px;

}

#servicios-left {

    display: flex;
    flex-flow: column;
    padding: 0px;
    padding-right: 4%;
    margin-left: 1rem;

}



#servicios img {

    margin: 0px;
    width: 25%;
}

#servicios h5 {

    color: var(--blanco);
    font-size: 1rem;
    margin-top: 5px;
}

.servicios-item {

    display: flex;
    padding: 0px;
    margin-top: 4%;
    flex-flow: row;


}

.img-thumbnail {

    padding: 0px !important;
    margin: 0px !important;
    margin-right: 7% !important;

}

.img-small {

    width: 75%;
}


/************* VALORANOS ***************************/

#valoranos {

    cursor: pointer;
    border-top: 1px solid var(--naranja);
    border-bottom: 1px solid var(--naranja);
}

#animated-image-stars {

    transition: transform 0.5s ease-in-out;
    animation: imageScale 4s infinite;
}

@keyframes imageScale {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

#animated-image-stars.animate {
    animation: imageScale 4s infinite;
}

#valoranos:hover {
    background-color: var(--marron-boton) !important;
    border-top: 2px solid var(--naranja);
    border-bottom: 2px solid var(--naranja);
}




/************* GEO ***************************/

.geo {

    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: url(assets/imgs/backgrounds/orange-faded-duller.webp); */
    min-width: 100%;
    padding: 0 5%;
    background-color: var(--marron-background-oscuro);


}

#localizacion>h2 {

    padding-bottom: 3%;
    text-align: center;
    color: var(--blanco);
    font-size: 60px;
    color: var(--blanco);
}

#localizacion p {


    color: var(--blanco);
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 25px
}


#loc-p {

    /* background-color: #0f0f0f; */
    margin-bottom: 2%;
    padding: 10%;
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-localizacion {

    display: flex;
    justify-content: center;
}

#header-localizacion img {

    max-height: 5%;
    max-width: 10%;
    margin-left: 2%;
    margin-bottom: 3%;
}

#header-localizacion h2 {


    color: var(--naranja);
}

#satellite-map {

    padding-top: 5%;
}

#street-map-phone,
#satellite-map-phone {

    display: none;
}

/* table */

#horario {

    margin-bottom: 10%;
    border: 2px solid var(--marron);
    font-size: 1.15rem;
    width: 100%;
}

#horario th {

    background-color: var(--marron) !important;
}

#horario td {

    background-color: #220f01 !important;
}

#localizacion>div>h3 {

    color: var(--naranja);
    padding-bottom: 5%;
    padding-top: 5%;

}

#localizacion hr {

    width: 100%;
    color: aliceblue;

}

#localizacion a {

    color: var(--naranja-claro) !important;
    text-decoration: none;
    font-weight: 600;

}


#fachada-phone {

    display: none !important;
}

#accordion {

    padding: 0 !important;
}

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.accordion h3 {

    border: 1px solid var(--marron) !important;

}

#accordion .accordion-button {

    background-color: var(--marron) !important;
    display: flex;
    justify-items: center;
    align-items: center;
}

#accordion .accordion-body {

    background-color: var(--marron-background-oscuro) !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

#accordion button {

    color: var(--blanco) !important;
    font-size: 1.23rem;

}

#accordion button:hover {

    font-weight: 600;

}

#accordion span {

    color: #fefefa;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, .125);
}


.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

#mobile-horario-maps {

    display: none;

}

/************* FORM ***************************/

#form {

    background-color: #0f0f0f;
    padding: 5%;
}

#form h1,
label {

    color: #fefefa;
    background-color: var(--negro);
}

#form h2 {

    color: var(--naranja);
    padding-bottom: 10%;
    font-size: 60px;
    text-align: center;
}

#form h3 {

    color: var(--naranja);
    padding-bottom: 5%;
}

#form button {

    background-color: var(--naranja);
    border-color: var(--naranja);
}

#contact-container {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 15%;
}

.contact-wrapper {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2%;
    background-color: gray;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    min-height: 239px;
}

.contact-wrapper:hover {

    background-color: rgb(129, 122, 122);
    border: 1px solid rgba(181, 169, 169, 0.3);


}

.contact-wrapper h4 {

    color: var(--blanco);
}

.contact-item {

    width: 25%;
    height: 25%;
}

#form hr {

    color: aliceblue;
    padding-bottom: 3%;
}

h2 {

    font-size: calc(5rem + .3vw);
    background: linear-gradient(to right, var(--naranja) 0%, #e9ac26 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}



/************* FOOTER ***************************/

footer a:hover p {

    color: var(--naranja-claro);
}

#header-footer a:hover i {

    color: var(--naranja-claro);
    transform: scale(1.04);
}

/************* MEDIA QUERIES ***************************/



@media (max-width:990px) {

    #main-page{
        height: auto !important;
    }

    #header {

        display: none;
    }

    #street-map,
    #satellite-map {

        display: none;
    }

    #street-map-phone,
    #satellite-map-phone {

        display: grid;
    }

    #satellite-map-phone {

        padding-top: 10%;
    }

    #header-localizacion img {

        margin-right: 25%;
        margin-left: 25%;
    }

    #header-localizacion {

        display: flex;
        flex-direction: column;
        align-items: center;

    }

    #conocenos {

        display: flex;
        align-items: center;
        flex-direction: column;
        padding-left: 12%;
        padding-right: 12%;
    }

    #conocenos h2 {

        padding-bottom: 50%;
    }

    #valoranos {

        flex-direction: column !important;
    }

    #animated-image-stars {

        max-width: 70% !important;
    }

    #valoranos h3 {

        text-align: center !important;
    }


    #tlf {

        display: none;
    }

    .nav-item {

        padding: 0px;
        padding-bottom: 10px;

    }

    .navbar-brand {

        padding-bottom: 2%;
        font-weight: 800;
    }

    .nav-link {

        padding-left: 1% !important;
        padding-top: 2% !important;
        padding-bottom: 2% !important;
        font-weight: 600 !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .banner-mobile {

        display: block;
        min-width: 100%;
        object-fit: cover;
        background: rgba(255, 255, 255, 0.19);
    }

    .navbar-brand {

        margin-left: 1%;
    }

    #contact {

        padding-bottom: 50px;
    }

    #contact-container {

        flex-direction: column;
    }

    .contact-wrapper {

        margin-bottom: 10%;
        min-height: 0px;
    }

    .contact-wrapper h4 {

        margin-top: 3%;
    }

    #horario {
        width: 110%;
        margin-bottom: 25%;
    }

    #mobile-horario-maps {

        display: none !important;
    }

    #fachada-phone {

        display: block !important;
    }

    #accordion {

        display: none;
    }

    #loc-p {

        padding: 12% 0% !important;
    }

    .geo {

        padding-left: 12%;
        padding-right: 12%;
    }

    #localizacion p {

        font-size: 20px;
    }

    #overlay-items {

        margin: 5%;
    }

    #horario {

        margin-bottom: 10%;
    }

    #mobile-horario-maps {

        display: block;
        margin-bottom: 10%;

    }

    h2 {

        font-size: calc(3.5rem) !important;
    }

    .contenedor-texto .principal {

        font-size: calc(2rem + .3vw);
        text-align: initial;

    }

    .contenedor-texto .text-muted {

        color: var(--blanco) !important;
        font-size: 1.1rem;
    }


    #sticky-button-container {


        right: 3rem;
        bottom: 3rem;



    }

    .subheading {

        padding-bottom: 4%;
    }

    .contenedor-imagen {

        display: none !important;
    }

    #contenedor-nav {

        display: block !important;

        /* margin: 0px; */
        /* margin-bottom: 1%;*/
    }

    #home {

        padding-bottom: 4%;
    }


    /* NAVBAR */

    .navbar-brand {

        text-align: center;
        padding-top: 2%;
    }


    .material-symbols-outlined {
        font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48;

        color: var(--blanco);
    }

    .container-arrow {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .nav-item {

        display: flex;
    }

    /* En movil solo */
    .nav-link {

        width: 50%;
    }

    .navbar-collapse {

        margin-top: 10%;
    }

    .nav-item img {

        filter: invert(1);
        -webkit-filter: invert(1);
        width: 50%;
    }

    .navbar-brand a {

        font-size: 4rem;
    }

    #navbarSupportedContent {

        margin-top: 1.5rem;
    }

    .nav-item-items {

        display: flex;
        width: 100%;
        border: 1px solid var(--naranja);
        border-radius: 10px;

    }

    .nav-link {

        padding-right: 50%;
        padding-left: 4%;
    }

    .container-arrow {

        margin-left: 30%;
    }

    .hover:hover {
        /* disable hover en movil */

        --_p: =0%;
    }

    #container-home {

        display: none;
    }

    #servicios {

        flex-direction: column;
        padding-left: 10%;
    }

    #servicios img {

        width: 15%;
    }

    #servicios-left {
        /*         order: 1;
 */
        margin-left: 0px;
        padding-top: 0px !important;
    }

    #servicios-right {
        order: 1;
        margin-left: 0px;
        padding-top: 0px !important;
    }





}

@media (max-width:770px) {

    .contenedor-texto {
        order: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contenedor-texto .header-contenedor-texto {

        padding-top: 5%;
    }
}

@media (max-width:1198px) {
    /* Cuando el logo pasa por encima del navbar*/

    .contenedor-imagen img {

        width: 35vh !important;

    }

}

@media (max-width:380px) {


    .me-4 {

        margin-right: 10px !important;
    }
}