:root {
  --negro: #0f0f0f;
  --naranja: #e9820d;
  --naranja-claro: #f5b770;
  --blanco: #fefefa;
  --marron-boton: #471e00;
  --marron-background-oscuro: #160a01;
  --marron: #925021;
  --marron-claro: #755435;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  /* background-image: url(backgrounds/background-new.jpg); */
  margin: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  text-align: justify;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

h2 {
  font-weight: 700 !important;
}

#sticky-button-container .material-symbols-outlined {
  color: var(--blanco);
  background-color: var(--naranja);
  font-size: 2rem;
  height: auto;

  border: 1px solid var(--blanco);

  border-radius: 50%;
  border-color: var(--blanco);
  border-width: 2px;
  visibility: hidden;
}

#sticky-button-container {
  opacity: 1;

  position: fixed;
  right: 3rem;
  bottom: 5rem;
  border: none;
  height: 25px;
  width: 25px;
}

#sticky-button-container:hover {
  transform: scale(1.1);
}

#sticky-button-container:hover .material-symbols-outlined {
  background-color: var(--naranja-claro);
}

#sticky-button-container i {
  padding: 25%;
}

.scroll {
  visibility: visible !important;
  z-index: 1000;
  opacity: 0.7;
}

.hover {
  --s: 0.1em;
  /* the thickness of the line */
  --c: var(--naranja);
  /* the color */

  color: #0000;
  /* padding-bottom: var(--s); */
  background:
    linear-gradient(90deg, var(--c) 50%, #000 0) calc(100% - var(--_p, 0%)) /
      200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) var(--s) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.5s;
}

.hover:hover {
  --_p: 100%;
}
